<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hu hu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67405BA31E0637E5002D88B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67405BBA1E0637E6002D88B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67405BC51E0637E6002D88B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
